/* Navbar */

.navbar-wrapper {
  background-color: #588157;
}

/* Home Page */
.home-wrapper {
  padding: 25px;
  background-color: #a3b18a;
  border-radius: 15px;
}

/* About Us Image */
.about-us-img{
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* Bootstrap Cards */
.card{
  width: 350px;
  height: 500px;
  padding: 30px;
  margin: 10px;
  border-radius: 10px;
}

.card-img-top{
  height: 300px;
}


/* Contact Us Page */

label {
  padding: 10px;
}

input{
  border-radius: 5px;
}

.contact-wrapper{
  padding: 20px;
  border: solid 1px black;
  background-color: #588157;
  color: white;
  border-radius: 10px;
}

.form-container{
  padding: 10px 0;
  text-align: center;
  background-color: #a3b18a;
  border: solid 1px black;
  border-radius: 10px;
}

/* About Us page */

.about-us-wrapper{
  border-radius: 10px;
  padding: 20px;
}

/* Product Page */

.product-wrapper{
  background-color: #3a5a40;
  border-radius: 10px;
}

/* Contact Us Flexbox */

.flex-container {
  display: flex;
}

.flex-container > div {
  margin: 10px;
  padding: 10px;
  width: 30%;
  text-align: center;
  color: black;
}